:root {
    --theme-color: #3CB878;
    --theme-color-2: #01813F;
    --background-image: url("imgs/background.png");
}

:root[theme = 'color-theme'] {
    --theme-color: #ff7f50;
    --theme-color-2: #DF4A32;
    --background-image: url("imgs/background3.jpg");
}

body {
    font-family: Ubuntu, sans-serif;
    background: var(--background-image);
    background-size: cover;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

header {
    padding: 17px 79px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    transition: 0.3s;
}

.menu {
    display: flex;
    align-items: center;
}

nav {
    width: 126px;
    display: flex;
    justify-content: space-between;
    margin-right: 48px;
}

.title:hover,
.log-in:hover,
.sign-up:hover {
    color: var(--theme-color);
}

.menu svg path {
    transition: 0.3s;
}

.menu svg:hover path {
    fill: var(--theme-color);
}

.enter {
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.enter:before {
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 50%;
    position: absolute;
    left: -27px;
    bottom: -3px;
}

.enter a {
    text-transform: capitalize;
}

.enter:first-letter {
    text-transform: uppercase;
}

.log-in {
    font-family: Verdana, sans-serif;
    transition: 0.3s;
}

.sign-up {
    transition: 0.3s;
}

.form {
    max-width: 444px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    background: #FFFFFF;
    padding: 30px 60px 38px;
    position: absolute;
    left: 50%;
    top: calc(50% + 30px);
    transform: translate(-50%, -50%);
}

.form:after {
    content: "";
    width: 18px;
    height: 18px;
    background: var(--theme-color);
    position: absolute;
    top: 29px;
    left: 0;
}

.form-top {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.form-top h2 {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-top a {
    font-size: 14px;
    line-height: 14px;
    color: var(--theme-color);
    transition: 0.3s;
}

.form-top a:hover {
    color: var(--theme-color-2);
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 15px;
}

.facebook,
.google {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-radius: 4px;
    transition: 0.3s;
}

.facebook {
    background: #305DB8;
    padding: 9px 20px 9px 16px;
    position: relative;
}

.facebook:before {
    content: "";
    width: 1px;
    height: 28px;
    background: rgba(10, 22, 47, 0.1);
    position: absolute;
    left: 48px;
}

.facebook:hover {
    background: #022263;
}

.google {
    background: #DF4A32;
    padding: 9px 28px 9px 10px;
    position: relative;
}

.google:before {
    content: "";
    width: 1px;
    height: 28px;
    background: rgba(43, 13, 9, 0.1);
    position: absolute;
    left: 48px;
}

.google:hover {
    background: #AB1F09;
}

.divider {
    font-size: 14px;
    line-height: 14px;
    color: rgba(132, 132, 132, 1);
    text-align: center;
    margin-top: 31px;
    position: relative;
}

.divider:before {
    content: "";
    width: 46%;
    height: 1px;
    background: rgba(242, 242, 242, 1);
    position: absolute;
    left: 2px;
    top: 8px;
}

.divider:after {
    content: "";
    width: 46%;
    height: 1px;
    background: rgba(242, 242, 242, 1);
    position: absolute;
    right: 2px;
    top: 8px;
}

.main-form {
    margin-top: 12px;
}

.usual-input {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    width: 100%;
    padding: 13px 19px;
    margin-bottom: 16px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 4px;
    transition: 0.3s;
}

.usual-input::placeholder {
    color: #BEBEBE;
}

input[name="confirm password"] {
    margin-bottom: 12px;
}

.usual-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.agree input {
    display: none;
}

.agree svg {
    margin-right: 8px;
    margin-bottom: -3px;
    border: 1px solid #F2F2F2;
}

.agree path {
    stroke: #FFFFFF;
    transition: 0.3s;
}

.agree input:checked + svg path {
    stroke: var(--theme-color);
}

label.agree {
    font-family: Verdana, sans-serif;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

.agree a {
    font-family: Ubuntu, sans-serif;
    color: var(--theme-color);
    font-size: 14px;
    line-height: 14px;
    transition: 0.3s;
}

.agree a:hover {
    color: var(--theme-color-2);
    text-decoration: underline;
}

.main-form-btn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: var(--theme-color);
    opacity: 80%;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.3s;
}

.main-form-btn:hover {
    background: var(--theme-color-2);
}

.change {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
    background: var(--theme-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.change:hover{
    background: var(--theme-color-2);
}
